#ignore files except following
*
!*.abt
!*.ahk
!*.ans
!*.arg
!*.bat
!*.config
!*.csv
!*.cuix
!*.dll
!*.dotm
!*.dvb
!*.gitignore
!*.in
!*.js
!*.md
!*.snippets
!*.mac
!*.solc
!*.txt
!*.vim
!*.xla
!*.xml
!plugin/
GREP/
bundle/

