#ignore files except following
*
!*.abt
!*.ahk
!*.ans
!*.arg
!*.bat
!*.config
!*.csv
!*.cuix
!*.dat
!*.dll
!*.dotm
!*.dvb
!*.exe
!*.gitignore
!*.html
!*.ico
!*.in
!*.ini
!*.js
!*.jpg
!*.md
!*.mac
!*.png
!*.snippets
!*.solc
!*.txt
!*.vim
!*.wav
!*.xla
!*.xml
!*.zip

!*/
bundle/
ag/

