#ignore files except following
*
!*.abt
!*.ans
!*.arg
!*.bat
!*.csv
!*.cuix
!*.dotm
!*.dvb
!*.gitignore
!*.in
!*.js
!*.md
!*.snippets
!*.mac
!*.solc
!*.txt
!*.vim
!*.xla
!*.xml
!plugin/
GREP/
bundle/


