snippet edit
	!<--EDIT:$1	; `!v strftime("%c")`; SM -->
endsnippet

snippet todo
	!<--TODO:$1	; `!v strftime("%c")`; SM -->
endsnippet

snippet testSnip
---
title: ${1:Meet UltiSnips}
date: ${2:`date +%Y-%m-%d`}
tags: $3
---
# $1
$0
endsnippet
