snippet edit
	!<--EDIT:$1	; `!v strftime("%c")`; SM -->
endsnippet

snippet todo
	!<--TODO:$1	; `!v strftime("%c")`; SM -->
endsnippet

snippet author
!<--Date: `!v strftime("%c")`; SM $1-->
endsnippet

snippet fedit
!Last modified: Di Aug 23, 2016  03:11
endsnippet

snippet testSnip
---
title: ${1:Meet UltiSnips}
date: ${2:`date +%Y-%m-%d`}
tags: $3
---
# $1
$0
endsnippet

